<html>
    <head>
        <title>Pick Up Lines API</title>

        <style>
            body {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
            }

            p {
                font-size: 20px;
                margin: 0;
            }

            h1 {
                font-size: 40px;
            }

            .container {
                padding: 10px;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <h1>Welcome to the Pick Up Lines API</h1>

            <p>Use <a href="http://<%= url %>/lines"><%= url %>/lines</a> to get all the pick up lines in our wonderful database</p>
            <p>Use <a href="http://<%= url %>/lines/random"><%= url %>/lines/random</a> to get a random pick up line to brighten up your day</p>
            <br>
            <p>Have a great day!</p>
        </div>

    </body>
</html>

